Collecting freeze
  Using cached freeze-3.0.tar.gz (188 kB)
Requirement already satisfied: six in c:\users\a\desktop\newpyblog\venv\lib\site-packages (from freeze) (1.15.0)
Building wheels for collected packages: freeze
  Building wheel for freeze (setup.py): started
  Building wheel for freeze (setup.py): finished with status 'done'
  Created wheel for freeze: filename=freeze-3.0-py3-none-any.whl size=12105 sha256=cd60d534ac7f18881e655a3ff47084a5dc3d998a67d5fc9a657e619e0bc60c12
  Stored in directory: c:\users\a\appdata\local\pip\cache\wheels\9b\c8\58\919fdda51f881bfbf09558405b721d511ea2dabd674127d508
Successfully built freeze
Installing collected packages: freeze
Successfully installed freeze-3.0
